body {
  margin: 0;
}
.header_nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100vw;
  background: #2e2e52;
  box-sizing: border-box;
}
.header_nav_elements {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_nav_logo {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.2em;
  background: linear-gradient(
    to right,
    #3064b2,
    #2ecff0
  ); /* Linearer Farbverlauf von Rot nach Grün */
  -webkit-background-clip: text; /* Safari/Chrome/Webkit-Browser */
  background-clip: text;
  color: transparent;
  padding: 0.5em;
}
.header_nav_tabs {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  list-style-type: none;
}
.header_nav_tabs_element {
  color: #e0dff9;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em;
  text-decoration: none;
  transition: color 0.5s;
}
.header_nav_tabs_element:hover {
  color: #00e0d0;
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 100vw;
  box-sizing: border-box;
  background-image: url("images/bgk-header.png"); /* Pfad zu Ihrem Hintergrundbild */
  background-size: cover; /* Das Bild wird so skaliert, dass es die gesamte Höhe der Section abdeckt */
  background-repeat: no-repeat; /* Das Bild wird nicht wiederholt */
  background-position: center center; /* Das Bild wird zentriert positioniert */
}
/*story section */
.story-container{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 45px 65px 45px 45px;
  position: relative;
  width: 940px;
}
.story-logo-image{
  width: 235px;
  height: 229px;
}

.story-h2{
  color: #413d4b;
  font-family: 'Playfair Display', serif;
  font-size: 1.375rem;
  font-weight: bold;
  margin: 0;
}
.story-p{
  margin: 20px 0 0;
  width: 540px;
  opacity: 0.75;
  color: #413d4b;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 22px;
}
.story_button{
  margin: 27px 0 0;
  min-height: 40px;
  padding: 0 13px;
  position: relative;
  width: 120px;
  border: 1px solid #00e0d0;
  border-radius: 2px;
  border-radius: 2px;
  background-color: transparent;
}
.story_button_text{
  color: #00e0d0;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
}

/*watch-section*/
.watch{
  margin: 0px auto 0;
  position: relative;
  width: 100%;
  background: url(images/put_your_image_here_7.png) no-repeat center 0;
  background-position: center top;
  background-size: cover;
}
.watch-hintergrund-überlagerung{
  padding: 202px 0 199px;
  position: relative;
  width: 100%;
  background: linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0, rgba(49, 29, 94, 0.85) 100%);
}
.watch-video, .watch-h2{
  display: flex;
  justify-content: center;
}
.watch-h2-font{
  font-family: "Roboto";
  color: white;
  margin: 33px 0 0;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
}
.expertise {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  background: #ffffff;
  box-sizing: border-box;
}

.h2_expertise {
  padding-top: 2em;
  color: #000000;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.p_expertise {
  color: #515151;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1em;
}
.h3_expertise {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.article_paragraph {
  color: #515151;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
}
.expertise_article {
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.expertise_article > img {
  width: 4em;
  height: 4em;
}
.expertise_article_container {
  max-width: 75em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2em;
}
.horizontal_line {
  border-top: 1px solid #767676; /* Höhe und Farbe der Trennlinie */
  width: 4%; /* Breite der Trennlinie (entsprechend dem Container) */
  padding-bottom: 2em;
}
.horizontal_line_section1 {
  border-top: 1px solid #00e0d0; /* Höhe und Farbe der Trennlinie */
  width: 4%; /* Breite der Trennlinie (entsprechend dem Container) */
  padding-bottom: 1em;
}
.hero_section_button {
  width: 10em;
  background: transparent;
  border: 2px solid #00e0d0;
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  transition: color 0.5s;
}
.hero_section_button_text {
  color: #00e0d0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}
.hero-section_h1 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-align: center;
}
.hero-section_p {
  max-width: 30em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  padding-bottom: 1em;
}




.meet_team{
    background-image: url("images/bg-team.png"); /* Pfad zu Ihrem Hintergrundbild */
    background-position: center center; /* Das Bild wird zentriert positioniert */
    background-size: cover; /* Das Bild wird so skaliert, dass es die gesamte Höhe der Section abdeckt */
    background-repeat: no-repeat; /* Das Bild wird nicht wiederholt */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    /*margin-top: 100px;*/
    height: 50vh;
    width: 100vw;
    color: #ffffff;
    

}

.teamtop{
  justify-items: center;
  align-items: center;
  align-self: center;
}

.teamcontent{
  width: 100px;
  align-self: center;
  display:grid;
  grid-template-rows: 30vh;
  /*grid-auto-rows: minmax(1000px, auto);*/
  grid-template-columns: 150px 150px 150px 150px;
  grid-auto-flow:column;
  justify-items: center;
  justify-content: center;
  align-content: end;
  align-items:center;
  padding-left: 0;
  margin:0;
  list-style-type: none;

}

.teambottom{
  display:flex;
  align-self: center;
  flex-direction: column;
}
.teambottom > p{
  font-size: 0.8em;
}

.teambottom > div {
  width:70px;
  align-self: center;
  text-align: center;
  justify-self: center;
  border: solid turquoise 1px;
  color:turquoise;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 0.6em;
  padding: 7px;
}



.team_member{
  text-decoration: none;
  text-transform: uppercase;
  border:solid white 1px;
  
  
  width:140px;
}

.team_member > div{
  text-decoration: none;
  text-transform: uppercase;
  /*border:solid white 2px;*/
  background-color: white;
  width:140px;
  height: 140px;
 
}

.team_member > div + p{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 0.6em;
  text-align: center;
  margin: 2%;
  margin-top: 6%;

}

.team_member > div + p + p{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.6em;
  text-align: center;
  margin: 2%;
  margin-bottom: 6%;
}

.contact_and_clients {
  display:flex;
  justify-content: center;
  height: 50vh;
  background: #ffffff;
  box-sizing: border-box;
}

.contact_area{
  display:flex;
  flex-direction: column;

  box-sizing: border-box;

}

.contactform{
  color:#2e2e52;
}

.clients_area{
  display:grid;
  grid-template-rows: 30vh 30vh;
  /*grid-auto-rows: minmax(1000px, auto);*/
  grid-template-columns: 150px 150px 150px 150px;
}

.client{
  width:100px;
  height: 100px;
  background-color: white;
}


@media only screen and (max-width:800px) and (orientation:portrait){
    .meet_team{
        background-image: url("images/bg-team.png"); /* Pfad zu Ihrem Hintergrundbild */
        background-size: cover; 
        display:flex;
        color: #ffffff;
        height:600px;
    
    
    }

    .teamcontent{
      display:grid;
      grid-template-rows: 10vw 10vw;
      grid-template-columns: 50vw 50vw;
      grid-auto-flow:column;
      height:600px;
    
    }

  }

/* Footer*/
.footer{
  position: relative;
  height: 70vh;
  width: 100%;
  background-position: center top;
  background: linear-gradient(90deg, rgba(9, 5, 47, 0.85) 0, rgba(49, 29, 94, 0.95) 100%), url("images/footer_laptop.png") no-repeat center 0;
  background-size: cover;
}
.footer-container{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 40px;
  position: relative;
  width: 940px;
  color:#e0dff9;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  justify-content: space-between;
}
.footer-item1{
  float: left;
  position: relative;
  width: 299px;
}
.footer-logo{
  width:44px;
  height: 50px;
  float: left;
  margin: 0 11px 0 0;
}
.footer-schriftzug{
  width: 73px;
  height: 29px;
  float: left;
  margin: 5px 5px 5px 5px;
}
.footer-text{
  margin: 20px 0 0;
  position: relative;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 26px;
}
.footer-item2{
  float: left;
  position: relative;
  width: 301px;
}
.adress{
  float: left;
  margin: 4px 15px 0 0;
}
.adress-text{
  margin: 0 0 0;
  float: left;
  width: 271px;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 26px;
}
.phone{
  margin: 125px 0px 0px 1px;
  position: relative;
}
.phone-img{
  float: left;
  margin: 0px 12px 0px 0px;
}
.footer-item3{
  float: left;
  position: relative;
  width: 292px;
}
.footer-form{
  float: left;
  min-height: 45px;
  position: relative;
  width: 211px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  justify-items: center;
  opacity: 0.75;
  line-height: 45px;
}

::placeholder {
  color: #e0dff9;
  opacity: 0.75;
  font-weight: 300;
  text-align: center;
} 
.footer-btn{
  width: 70px;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.footer-btn:hover{
  background: rgba(255, 255, 255, 1);
}

.footer-social-media{
  margin: 27px 1px 0;
  display: flex;
  justify-content: space-between;
  width: 220px;
}
.footer-social-media-item{
  position: relative;
  width: 1px;
}
.footer-social-medi-logo{
  width: 30px;
}
.footer-bottom{
  float: left;
  display: flex;
  justify-content: flex-start;
  padding: 0 69px 0  69px;
  position: relative;
  width: 938px;
  height: 16px;
  color:#e0dff9;
}
.footer-nav{
  float: left;
  position: relative;
  width: 301px;
  height: 14px;
}
.footer-nav-list{
  display: flex;
  position: relative;
  list-style: none;
}
.footer-nav-list li {
  float: left;
  width: auto;
  margin: 0 28.5px 0 0;
}
.footer-nav-list li a{
  color:#e0dff9;
}
.footer-nav-list li:last-child {
  margin-right: 0;
}
.footer-nav-item{
  letter-spacing: 0.025em;
}
.footer-bottom-right {
  float: right;
  width: 459px;
  letter-spacing: 0.025em;
  color:#e0dff9;
  text-align: right;
}
