body {
  margin: 0;
}
.header_nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100vw;
  background: #2e2e52;
  box-sizing: border-box;
}
.header_nav_elements {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_nav_logo {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.2em;
  background: linear-gradient(
    to right,
    #3064b2,
    #2ecff0
  ); /* Linearer Farbverlauf von Rot nach Grün */
  -webkit-background-clip: text; /* Safari/Chrome/Webkit-Browser */
  background-clip: text;
  color: transparent;
  padding: 0.5em;
}
.header_nav_tabs {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  list-style-type: none;
}
.header_nav_tabs_element {
  color: #e0dff9;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em;
  text-decoration: none;
  transition: color 0.5s;
}
.header_nav_tabs_element:hover {
  color: #00e0d0;
}
.hero-section {
  height: 50vh;
  width: 100vw;
  box-sizing: border-box;
  background-image: url("images/bgk-header.png"); /* Pfad zu Ihrem Hintergrundbild */
  background-size: cover; /* Das Bild wird so skaliert, dass es die gesamte Höhe der Section abdeckt */
  background-repeat: no-repeat; /* Das Bild wird nicht wiederholt */
  background-position: center center; /* Das Bild wird zentriert positioniert */
}
.expertise {
  height: 50vh;
  background: #e0dff9;
  box-sizing: border-box;
}
