body {
  margin: 0;
}
.header_nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100vw;
  background: #2e2e52;
  box-sizing: border-box;
}
.header_nav_elements {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_nav_logo {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.2em;
  background: linear-gradient(
    to right,
    #3064b2,
    #2ecff0
  ); /* Linearer Farbverlauf von Rot nach Grün */
  -webkit-background-clip: text; /* Safari/Chrome/Webkit-Browser */
  background-clip: text;
  color: transparent;
  padding: 0.5em;
}
.header_nav_tabs {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  list-style-type: none;
}
.header_nav_tabs_element {
  color: #e0dff9;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em;
  text-decoration: none;
  transition: color 0.5s;
}
.header_nav_tabs_element:hover {
  color: #00e0d0;
}
.hero-section {
  height: 50vh;
  width: 100vw;
  box-sizing: border-box;
  background-image: url("images/bgk-header.png"); /* Pfad zu Ihrem Hintergrundbild */
  background-size: cover; /* Das Bild wird so skaliert, dass es die gesamte Höhe der Section abdeckt */
  background-repeat: no-repeat; /* Das Bild wird nicht wiederholt */
  background-position: center center; /* Das Bild wird zentriert positioniert */
}
.expertise {
  height: 50vh;
  background: #e0dff9;
  box-sizing: border-box;
}
/* Footer*/
.footer{
  position: relative;
  height: 70vh;
  width: 100%;
  background-position: center top;
  background: linear-gradient(90deg, rgba(9, 5, 47, 0.85) 0, rgba(49, 29, 94, 0.95) 100%), url("images/footer_laptop.png") no-repeat center 0;
  background-size: cover;
}
.footer-container{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 40px;
  position: relative;
  width: 940px;
  color:#e0dff9;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  justify-content: space-between;
}
.footer-item1{
  float: left;
  position: relative;
  width: 299px;
}
.footer-logo{
  width:44px;
  height: 50px;
  float: left;
  margin: 0 11px 0 0;
}
.footer-schriftzug{
  width: 73px;
  height: 29px;
  float: left;
  margin: 5px 5px 5px 5px;
}
.footer-text{
  margin: 20px 0 0;
  position: relative;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 26px;
}
.footer-item2{
  float: left;
  position: relative;
  width: 301px;
}
.adress{
  float: left;
  margin: 4px 15px 0 0;
}
.adress-text{
  margin: 0 0 0;
  float: left;
  width: 271px;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 26px;
}
.phone{
  margin: 125px 0px 0px 1px;
  position: relative;
}
.phone-img{
  float: left;
  margin: 0px 12px 0px 0px;
}
.footer-item3{
  float: left;
  position: relative;
  width: 292px;
}
.footer-form{
  float: left;
  min-height: 45px;
  position: relative;
  width: 211px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  justify-items: center;
  opacity: 0.75;
  line-height: 45px;
}

::placeholder {
  color: #e0dff9;
  opacity: 0.75;
  font-weight: 300;
  text-align: center;
} 
.footer-btn{
  width: 70px;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.footer-btn:hover{
  background: rgba(255, 255, 255, 1);
}

.footer-social-media{
  margin: 27px 1px 0;
  display: flex;
  justify-content: space-between;
  width: 220px;
}
.footer-social-media-item{
  position: relative;
  width: 1px;
}
.footer-social-medi-logo{
  width: 30px;
}
.footer-bottom{
  float: left;
  display: flex;
  justify-content: flex-start;
  padding: 0 69px 0  69px;
  position: relative;
  width: 938px;
  height: 16px;
  color:#e0dff9;
/*  display: flex;
  position: relative;
  margin: 0 auto;
  width: 940px;
  color:#e0dff9;*/
}
.footer-nav{
  float: left;
  position: relative;
  width: 301px;
  height: 14px;

/*  display: flex;
  float: left;
  text-align: left;
  position: relative;
  width: 940px;
  color:#e0dff9;
  justify-content: flex-start;*/
}
.footer-nav-list{
  display: flex;
  position: relative;
  list-style: none;
 /* display: flex;
  float: left;
  list-style: none;*/
}
.footer-nav-list li {
  float: left;
  width: auto;
  margin: 0 28.5px 0 0;
}
.footer-nav-list li a{
  color:#e0dff9;
}
.footer-nav-list li:last-child {
  margin-right: 0;
}
.footer-nav-item{
  letter-spacing: 0.025em;
}
.footer-bottom-right {
  float: right;
  width: 459px;
  letter-spacing: 0.025em;
  color:#e0dff9;
  text-align: right;
}
